---
import '../styles/global.css'

import SeoSection from '../components/SeoSection.astro'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
import Post from '../components/Post.astro'

const { frontmatter: post } = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{post.title} Omar Santos - Full Stack Developer</title>

		<SeoSection
			title={post.title}
			description={post.description}
			keywords="Omar Santos, Full Stack Developer, Web Developer, JavaScript, React, Node, Astro"
			robots="index, follow"
			locale="es_ES"
			imageUrl={`${Astro.site}${post.image.slice(1)}`}
			imageWidth="1200"
			imageHeight="630"
		/>
	</head>
	<body class="is-post bg-black">
		<main class="mx-auto px-4 md:max-w-5xl">
			<Navigation />

			<Post post={post}>
				<slot />
			</Post>

			<Footer />
		</main>
	</body>
</html>
